:root {
  --primary-color: #003f80;
  --accent1-color: #0066cc;
  --accent2-color: #eaf3ff;
  --body-font: Arial, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


header, main, footer {
  width: 840px;
  margin: 0 auto;
}

body {
  font-family: var(--body-font);
  color: var(--primary-color);
  background-color: #fff;
}
h1 {
    font-family: Trebuchet MS;
    font-size: 2.5rem;
    margin-bottom: 10px;
  }
h2 {
    font-family: sans-serif;
    font-size: 2rem;
    margin-bottom: 15px;
  }


header {
  display: grid;
  grid-template-columns: 120px 1fr;
  align-items: center;
  padding: 16px;
  background-color: #eaf3ff;
  border-bottom: 3px solid #0066cc;
}

.logo {
  width: 120px;
}

header nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 30px;
}

header nav a {
  text-decoration: none;
  padding: 10px 20px;
  border: 2px solid #0066cc;
  border-radius: 10px;
  color: var(--primary-color);
  font-weight: bold;
  background-color: #fff;
}

header nav a:hover,
header nav a.active {
  background-color: #0066cc;
  color: #fff;
}

.hero {
  position: relative;
  margin-top: 20px;
}

.hero img {
  width: 100%;
  height: auto;
}

.hero h1 {
  position: absolute;
  top: 30px;
  width: 100%;
  text-align: center;
  padding: 15px;
  background-color: var(--accent1-color);
  color: #fff;
  font-size: 2rem;
}

.hero article {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  width: 75%;
  background-color: var(--accent1-color);
  padding: 20px;
  color: #fff;
}

.hero article img {
  float: right;
  width: 120px;
  height: auto;
  border-radius: 5px;
}


.history {
  margin-top: 50px;
  padding: 20px;
  border: 2px solid #ccc;
}

.history h2 {
  text-align: center;
  margin-bottom: 20px;
}

.history-layout {
  display: grid;
  grid-template-columns: 1fr 200px 1fr;
  gap: 20px;
  align-items: center;
}

.history img {
  width: 100%;
  border-radius: 8px;
}


.adventures {
  margin-top: 40px;
}

.adventures h2 {
  text-align: center;
  margin-bottom: 20px;
}

.adventure-gallery {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.adventure-gallery figure {
  width: 18%;
  text-align: center;
}

.adventure-gallery img {
  width: 100%;
  border-radius: 8px;
}

.adventure-gallery figcaption {
  margin-top: 5px;
  font-size: 0.9rem;
  color: #003f80;
}

/* FOOTER */
footer {
  margin-top: 40px;
  padding: 15px;
  background-color: #0066cc;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .socialmedia {
  display: flex;
  gap: 12px;
}

footer .socialmedia img {
  width: 30px;
  height: auto;
}
