main {
    max-width: 840px;
}

main h1 {
    color: teal;
}

nav {
    background-color: beige;
    font-weight: bold;
    font-size: 1.5rem;
    padding: 10px;
}

nav a {
    margin: 20px;
    text-decoration: underline;
    display: block;
    color: brown;
    padding: 10px;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(0,0,0 / 0.2);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

main img {
    width: 150px;
    height: auto;
    border: #000;
    padding: 10px;
    box-shadow: #333;
}

p {
    padding: 0;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}
